html {
    box-sizing: border-box;
  }

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    flex-flow: row wrap;
}

#menu {
    display:flex;
    display:-webkit-flex;
    display:-ms-flexbox;
    justify-content:space-between;
    flex-flow: row nowrap;
    flex: 1 1 auto;
}

.lists{
    color:white;
    padding:10px 5px 0px 15px;
    display: flex;
    flex: 1 1 auto;
}

.ad{
    padding-left: 0px;
    margin-left: 5px;
    display: flex;
    flex: 1 1 auto;
}

#logo{
    display: flex;
    flex 1 1 auto;
}

.nav-container{
    position:fixed;
    height: 50px;
    width: 100%;
    background-color:white;
}

#searchbar{
    display: flex;
    flex: 3 1 auto;
}

#other-options {
    display: flex;
    flex: 2 1 auto;
    justify-content: flex-end;
}

.search{
    padding: 8px;
    justify-content:center;
    margin-bottom: 4px;
    width: 70%;
    border:2px solid rgb(226, 219, 219);
}

button{
    padding: 8px;
    border:2px solid rgb(226, 219, 219);
    margin-bottom: 4px;
    background:rgb(248, 248, 248);
    width:50px;
    border-radius:5%;
}

.list{
    display: flex;
    justify-content: left;
    flex-flow: row wrap;
}

.list li{
    list-style: none;
    margin-right: 20px;
    display: flex;
    flex: 1 1 auto;
}

i{
    color:black;
    font-size:20px;
}

.sing{
    color:white;
    background: rgb(92, 92, 246);
}


/*navbar classes up from here*/
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#container-1 {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: auto;
    /*margin-right: auto;
    margin-left: auto;*/
}

#main-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 6%;
}

#video-itself {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    flex: 1 1 40%;
}

#info-and-vids {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}

#video-recom {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-right: 3%;
    flex: 1 1 40%;
}

.video-recom {
    font-size: large;
}

#mini-menu {
    display: flex;
    flex-direction: row;
}

.video-and-recom {
}

#upnext{
    margin-right: 40%;
}

#switch {
    height: 20px;
    padding-bottom: 0%;
}

.switch {
    display: flex;
    padding-left: 4%;
    padding-right: 4%;
}

#recom-thumbnails {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.recom-thumbnails {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}



.recom1 {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    justify-content: space-around;
}

.vid-title {
    display: flex;
}

.canal {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: small;
}

.canal-vistas {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: small;
}

#info-and-text {
    flex-wrap: wrap;
}

.video-info {
    display: flex;
    flex-direction: column;
    width: 42%;
    padding-left: 1%;
}

#video-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
    font-size: large;
}

#info-text {
    display: flex;
    flex-direction: row;
    padding-left: 1%;
    padding-bottom: 1%;
    justify-content: space-between;
}

#views {
    display: flex;
    align-self: flex-start;
    flex: 1 1 auto;
}

#reactions {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    flex: 1 1 auto;
}

#middle {
    display: flex;
    align-self: center;
    flex: 1 1 auto;
}

#like-and-dislike {
    display: flex;
    flex: 1 1 auto;
    justify-self: flex-end;
}

.options {
    margin-left: 1%;
    margin-right: 1%;
}

.imgreaction {
    height: 20px;
    margin-right: 1%;
}

.b-share{
    display: flex;
    flex: 1 1 auto;
}

#save {
    display: flex;
    flex: 1 1 auto;
}

#more{
    display: flex;
    flex: 1 1 auto;
}

#profile-and-info{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    margin-top: 2%;
    justify-content: space-between;
}

#profile-and-name {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    flex: 1 1 auto;
}

#subscribe {
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
}

.b-subscribe {
    background-color: #cc0300;
    color: white;
    width: 90px;
    height: 40px;
    align-self: flex-end;
}

#profile {
    height: 40px;
    margin-right: 1%;
}

#profile-name{
    margin-right: 1%;
}

#subs {
    height: 50px;
    margin-left: 40%;
}

#text {
    margin-top: 3%;
    margin-left: 2%;
}

.videotext {
    text-align: justify;
}

#extraText {
    margin-bottom: 2%;
}

#cat {
    margin-right: 10%;
}

#catName {
    margin-left: 5%;
    color: #0033FF;
}

.video{
    height:720px;
    width: 52%;
    border-right:1px solid white;
    margin-top: 81px;
    margin-left:120px;
}

.op{
    /*display: flex;
    flex-flow: row wrap;
    margin: none;*/
}

#comment-section{
    width: 40%;
    margin-top: 30px;
}

.coment{
    display: flex;
    flex-flow: row wrap;
    padding:15px;
}

.user-comment{
    width:80%;
    margin-left:10px;
}

.comment-icons{
    margin-left:10px;
    margin-top:10px;
}

.comment-icons i{
    padding-right: 30px;
}

.write-form{
    background: none;
    border:none;
    font-size:20px;
    margin-top:15px;
    border-bottom: 1px solid black;
}

.user-img{
    width: 5%;
}

h3{
    padding-bottom: 10px;
}

/*from here up the comment styles*/
#sidebar{
    margin-top:30px;
    width: 40%;
    padding-left: 3%;
    padding-right: 3%;
}

.list-sidebar{
    list-style: none;
}

.youtube-suggestion{
    margin-bottom: 5px;
}

.list-sidebar li{
    display:flex;
    flex-flow: row wrap;
}

.videos-description{
    margin-left:10px;
}

.videos-description p{
    color:grey;
}


.list{
    position:flex;
}

.list li{
    display:flex;
}

.nav-container{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    height: 50px;
    margin-bottom: 20%;
}


#imgMenu {
    height: 40px;
}


.videos {
    display: flex;
}





/* Replace the display property */


#videos {
    display: flex;
    margin-left: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
}



/* ---------------------------------------- */






#recom-text {
    text-align: left;
}











#container-2 {
    padding-right: 15px;
    padding-left: 15px;
    /*margin-right: auto;
    margin-left: auto;*/
    display: flex;
    flex-flow: row;
    width: 100%;
}

#containerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-top: 2%;
    justify-content: left;
    margin-left: 180px;
}

.emoji {
    width: 30px;
}


.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
